.main{
    display: block;
    margin: 10%;
    border: 2px solid #000;
    border-top: none;
    border-right: none;
    border-bottom: 6px solid #000;
    border-left: none;
    width: 80%;
    text-align: center;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 15px;
    color: #fff;
    background-color: black;
    border:  #1c4da0;
    margin: 40px;
    margin-left: auto;
    height: 50px
}

.button:hover {
    border: 2px solid;
    border-color: white;
    background-color: #0e2651;
}
.authIcon{
    margin-left: 10px;
}
.authIcon:hover{
    color:red;
}
.auth{
display: flex;
align-items: center;
}

.mainHead{
    display: flex;
}